.post_container{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.post_box{
    border: 1px solid black;
    margin-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.post_menu_box{
    display: none;

    width: 130px;
    position: relative;
    background-color: rgb(241, 234, 220);
    margin-top: 21px;
    box-shadow: 2px 6px 21px -2px rgba(0,0,0,0.75);
    left: -94px;
    z-index: 3;
}

.post_menu_box.active{
    display: block;
}

.post_box .header{
    max-height: 26px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

.post_box a{
    text-decoration: inherit;
    color: inherit;
}

.post_box .header .writer-span{
    margin-right: 15px;
}

.post_box .body{
    padding-top: 10px;
}

.post_box .post_menu_box{
    padding: 0;
}


.post_box .header .menu_button{
    float: right;
    cursor: pointer;
}

.post_box .header .menu_button:hover{
    cursor: pointer;
}

.post_box .post_menu_box .dropdown-item{
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.post_box .post_menu_box .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
    cursor: pointer;
}

#screen-cover{
    display: none;

    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
}

#screen-cover.active{
    display: block;
}

.bodyEditor{
    display: none;
}

.post_body.hidden{
    display: none;
}

.bodyEditor.active{
    display: block;
}